@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-controller="UsersList" asp-action="ReviewUsersList">Просмотр список пользователей</a>
    <a asp-controller="TaskList" asp-action="ReviewTasksList">Просмотр задач пользователей</a>
</div>
