@model UsersListWeb.Models.TasksList.TaskCreateViewModel

<link rel="stylesheet" href="~/css/task-list.css" asp-append-version="true" />


<h2>Добавление в список задач</h2>

<div> <a asp-controller="Home" asp-action="Index">Возврат на главную страницу</a></div>
<br />


<style>
    .create-task-form div {
        margin-bottom: 10px;
    }

</style>


<form method="post" class="create-task-form">
    <fieldset>
        <div class="form-element">
            <label for="Subject">Наименование задачи</label>
            <textarea cols="40" rows="1" name="Subject" value=""></textarea>
        </div>
        <div class="form-element">
            <label for="Description">Описание</label>
            <textarea cols="40" rows="1" name="Description" value=""></textarea>
        </div>
        <html>
        <head>
            <meta charset="utf-8">
            <title>Календарь</title>
        </head>
        <body>
            @*<form>*@
                <p>
                    Выберите дату:
                <input type="date" name="DeadlineDate" value="@DateTime.Now"
                           max="@DateTime.Now.AddDays(10)" min="@DateTime.Now">
                </p>
            @*</form>*@
        </body>
    </html>
        <div>
            <label>Cоздание</label>
            <input type="submit" value="Создание" class="submit" />
        </div>
    </fieldset>
</form>